.services {
  background-image: url("../../assets/servicesBg.png");
  background-color: #f2f5fa;
  padding: 140px 40px;
  font-family: "Archivo", sans-serif;
  .galleryHeader {
    h1 {
      font-size: 40px;
      line-height: 1.2;
      font-weight: 500;
      color: #171151;
      padding-top: 20px;
    }

    h6 {
      color: #0e63ff;
      font-weight: 700;
      font-size: 15px;
    }
  }

  .gallerySlider{
    .carousel {
      cursor: grab;
      overflow: hidden;
      padding: 60px 0;
      .inner-carousel {
        display: flex;
        .item {
          min-width: 440px;
          position: relative;
          border-radius: 5px;
          margin: 0 18px;
          overflow: hidden;
          background-color: white;
          padding: 40px 40px 80px 40px;
          display: flex;
          flex-direction: column;
  
          .readMore {
            display: flex;
            justify-content: start;
            gap: 10px;
            position: absolute;
            bottom: 30px;
            left: 30px;
            span {
              font-size: 14px;
              font-weight: 700;
  
              &:first-child {
                background-color: rgb(245, 245, 245);
                transition: all .5s;
                display: inline-block;
                width: 20px;
                height: 20px;
                clip-path: polygon(
                  45% 1.33975%,
                  46.5798% 0.60307%,
                  48.26352% 0.15192%,
                  50% 0,
                  51.73648% 0.15192%,
                  53.4202% 0.60307%,
                  55% 1.33975%,
                  89.64102% 21.33975%,
                  91.06889% 22.33956%,
                  92.30146% 23.57212%,
                  93.30127% 25%,
                  94.03794% 26.5798%,
                  94.48909% 28.26352%,
                  94.64102% 30%,
                  94.64102% 70%,
                  94.48909% 71.73648%,
                  94.03794% 73.4202%,
                  93.30127% 75%,
                  92.30146% 76.42788%,
                  91.06889% 77.66044%,
                  89.64102% 78.66025%,
                  55% 98.66025%,
                  53.4202% 99.39693%,
                  51.73648% 99.84808%,
                  50% 100%,
                  48.26352% 99.84808%,
                  46.5798% 99.39693%,
                  45% 98.66025%,
                  10.35898% 78.66025%,
                  8.93111% 77.66044%,
                  7.69854% 76.42788%,
                  6.69873% 75%,
                  5.96206% 73.4202%,
                  5.51091% 71.73648%,
                  5.35898% 70%,
                  5.35898% 30%,
                  5.51091% 28.26352%,
                  5.96206% 26.5798%,
                  6.69873% 25%,
                  7.69854% 23.57212%,
                  8.93111% 22.33956%,
                  10.35898% 21.33975%
                );
              }
            }
          }
  
          &:nth-child(1) {
            margin-right: 18px;
          }
  
          &:last-child {
            margin-left: 18px;
          }
  
          .labIcon {
            background-color: rgb(245, 245, 245);
            transition: all 0.3s ease-in-out;
            padding: 30px;
            width: 120px;
            height: 120px;
            position: relative;
            clip-path: polygon(
              45% 1.33975%,
              46.5798% 0.60307%,
              48.26352% 0.15192%,
              50% 0,
              51.73648% 0.15192%,
              53.4202% 0.60307%,
              55% 1.33975%,
              89.64102% 21.33975%,
              91.06889% 22.33956%,
              92.30146% 23.57212%,
              93.30127% 25%,
              94.03794% 26.5798%,
              94.48909% 28.26352%,
              94.64102% 30%,
              94.64102% 70%,
              94.48909% 71.73648%,
              94.03794% 73.4202%,
              93.30127% 75%,
              92.30146% 76.42788%,
              91.06889% 77.66044%,
              89.64102% 78.66025%,
              55% 98.66025%,
              53.4202% 99.39693%,
              51.73648% 99.84808%,
              50% 100%,
              48.26352% 99.84808%,
              46.5798% 99.39693%,
              45% 98.66025%,
              10.35898% 78.66025%,
              8.93111% 77.66044%,
              7.69854% 76.42788%,
              6.69873% 75%,
              5.96206% 73.4202%,
              5.51091% 71.73648%,
              5.35898% 70%,
              5.35898% 30%,
              5.51091% 28.26352%,
              5.96206% 26.5798%,
              6.69873% 25%,
              7.69854% 23.57212%,
              8.93111% 22.33956%,
              10.35898% 21.33975%
            );
          }
  
          .deatilSpecialist {
            h3 {
              color: rgb(23, 17, 81);
              padding: 25px 0;
              font-size: 25px;
              font-weight: 700;
            }
            p {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .services {
    padding: 100px 40px !important;
    .carousel {
    }
    .item {
      min-width: calc(100% / 3) !important;
    }
  }
}

@media (max-width: 1000px) {
  .services {
    .carousel {
    }
    .item {
      min-width: calc(100% / 2) !important;
    }
  }
}

@media (max-width: 800px) {
  .services {
    padding: 120px 10px !important;
    .carousel {
      .inner-carousel {
        padding: 0 !important;
      }
      .item {
        min-width: 100% !important;
        padding: 40px 20px 60px 20px !important;

        img {
          object-fit: cover;
        }
        .readMore {
          display: flex;
          justify-content: start;
          gap: 10px;
          position: absolute;
          bottom: 20px;
          left: 20px !important;
        }
      }
    }

    .galleryHeader {
      h1 {
        font-size: 35px !important;
      }
    }
  }
}

@media(min-width:1600px){
  .services{
    .gallerySlider{
      .carousel{
        .inner-carousel{
          .item{
            min-width: 420px;
          }
        }
      }
    }
  }
}
