.faqPage{
    .hedaerSection {
      margin-top: 125px;
      position: relative;
      z-index: -1;
  
      .img {
        width: 100%;
        height: 500px;
        &::after {
          content: "";
          background-color: rgba(13, 12, 28, 0.237);
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
  
        img {
          width: 100%;
          height: 500px;
          object-fit: cover;
        }
      }
  
      h1 {
        font-size: 55px;
        line-height: 1.2;
        font-weight: 500;
        color: white;
        position: absolute;
        top: 28vh;
        left: 12%;
        z-index: 1;
        font-weight: bold;
      }
    }

    .faqText{
      text-align: center;
      padding: 80px 0 60px 0;
      h1{
        color: #171151;
        font-family: "Archivo", sans-serif;
      font-weight: 700;
      }
      p{
        color: #171151;
        font-size: 20px;
        padding-top: 20px;
      }
    }

    .accordions{
     padding: 0 200px 100px 200px;
     .accordion-item{
      margin: 30px 0;
      .accordion-button{
        padding: 20px;
      }
     }
    }

    .messageBox{
      background-color: #F2F5FA;
      padding: 100px 20%;
      color: #171151;

      h1,h6{
        text-align: center;
      }
      h1{
        padding-bottom: 50px;
        font-size: 43px;
      }

      .form{
        background-color: white;
         box-shadow: rgba(155, 155, 155, 0.132) 0px 2px 8px 0px;
         padding: 80px;
         border-bottom: 5px solid #0E63FF;

         h4{
          padding-bottom: 30px;
          font-size: 26px;
         }


         form{
          display: flex;
          flex-direction: column;
          gap: 30px;
          input,textarea{
            padding: 20px 20px;
            outline: none;
            border: 1px solid rgba(128, 128, 128, 0.344);
            border-radius: 4px;
            box-shadow: rgba(155, 155, 155, 0.111) 0px 2px 8px 0px;
            color: gray;
          }
         }

         button{
          width: 200px;
          background-color: #0E63FF;
          border: none;
          color: white;
          font-weight: 500;
          font-size: 20px;
          padding: 16px 22px;
          border-radius: 4px;
          margin-top: 30px;
          border: 2px solid transparent;
          transition: all .3s ease-in-out;

          &:hover{
            background-color: transparent;
            border: 2px solid #0E63FF;
            color: #0E63FF;
          }
          
        }
      }
    }
    
}

@media (max-width:1000px) {
  .faqPage{
    .accordions{
      padding: 0 100px 100px 100px;
    }
    .messageBox{
      padding: 100px 10%;
    }
  }
}

@media (max-width:800px) {
  .faqPage{
    .faqText{
      padding: 80px 15px 60px 15px;
    }
    .accordions{
      padding: 0 20px 100px 20px;
    }
    .messageBox{
      padding: 100px 15px;
      .form{
        padding: 15px;
      }
    }
  }
}

@media (max-width:600px) {
  .faqPage{
    .hedaerSection{
      margin-top: 90px;
      img{
        object-fit: none !important;
        height: 80vh !important;
      }
      h1{
        font-size: 45px;
        left: 5%;
      }
    }
    .messageBox{
      h1{
        font-size: 34px;
      }
    }
  }
}