.insideRightSide {
    background-color: white;
    width: 100%;
    padding: 20px 30px;
    border-radius: 13px;
    .headerBox {
      border-bottom: 1px solid gray;
      padding-bottom: 10px;
      span {
        color: #9a9696;
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 16px;

        
      }
      .secondSpan {
        padding-left: 150px;
      }
      .thirdSpan{
        padding-left: 140px;
      }
    }
    .bodyMainBox {
      .bodyBox {
        padding-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        .dateText {
          span {
            font-family: "Inter", sans-serif;
          }
          .date {
            color: #9a9696;
            font-weight: 500;
          }
          .text {
            padding-left: 102px;
            color: #231781;
            font-weight: 600;
            display: inline-block;
            width: 300px;

          }
          .text2 {
            color: #231781;
            font-weight: 600;
          }
        }
        .buttons{
          display: flex;
          gap: 10px;
          a, button {
            border: none;
            border-radius: 10px;
            padding: calc(13px / 2) calc(31px / 2);
            color: white;
            font-size: 15px;
            border: 1px solid transparent;
            transition: all .3s ease-in-out;
            text-decoration: none;
            cursor: pointer;

            

            
          }
          .dowBtn{
            background: #10d0a1;
            &:hover{
              color: black;
              border: 1px solid #10d0a1;
              background-color: transparent;
            }
          }
         .delBtn{
            background: red;
            &:hover{
              color: black;
              border: 1px solid red;
              background-color: transparent;
            }
          }
        }
        
      }
    }

    
  }

  @media(max-width:1000px){
    .insideRightSide{
      .headerBox{
          .secondSpan{
            padding-left: 100px;
          }
          .thirdSpan{
            padding-left: 76px;
          }
      }
      .bodyMainBox{
        .bodyBox{
          .dateText{
            .text{
              padding-left: 52px;
              width: 200px; 
            }
          }
          .buttons{
          }
        }
      }
    }
  }

  @media(max-width:900px){
    .insideRightSide{
      width: 100% !important;
      // padding: 10px;
      .headerBox{
      }
      .bodyMainBox{
        .bodyBox{
          gap: 10px;
          .dateText{
            // display: flex;
            // flex-direction: column;
            gap: 15px;
  
            // .text{
            //   padding: 0;
            // }
            // span{
            //   display: block;
            // }
          }
          .buttons{
            flex-direction: column;
          }
        }
      }
    }
  }

  @media(max-width:600px){
    .insideRightSide{
      padding: 0;
      background-color: #F4F4FA;
      .headerBox{
        display: none ;
      }
      .bodyMainBox{
        padding: 10px;
        .bodyBox{
          padding: 10px;
          gap: 10px;
          background-color: white;
          border: 1px solid white;
          border-radius: 14px;
          margin: 10px 0;

          .dateText{
            display: flex;
            flex-direction: column;
            gap: 15px;
  
            .text{
              padding: 0;
            }
            span{
              display: block;
            }
          }
          .buttons{
            flex-direction: column;
          }
        }
      }
    }
  }

  // @media(min-width: 1750px){
  //   .insideRightSide {
  //     padding: 40px 30px;
  //     .headerBox {
  //       padding-bottom: 20px;
  //       span {
  //         font-size: 20px;
  //       }
  //       .secondSpan {
  //         padding-left: 165px;
  //       }
  //       .thirdSpan{
  //         padding-left: 125px;
  //       }
  //     }
  //     .bodyMainBox {
  //       .bodyBox {
  //         padding-top: 30px;
  //         display: flex;
  //         justify-content: space-between;
  //         align-items: center;
  //         gap: 30px;
  //         .dateText {
  //           span {
  //             font-size: 20px;
  //           }
  //           .date {
  //             font-size: 20px;
  //           }
  //           .text {
  //             padding-left: 102px;
  //             color: #231781;
  //             font-weight: 600;
  //             display: inline-block;
  //             width: 300px;
  
  //           }
  //           .text2 {
  //             color: #231781;
  //             font-weight: 600;
  //           }
  //         }
  //         .buttons{
  //           gap: 20px;
  //           a, button {
  //             padding: 13px  31px;
  //             font-size: 20px;
  //           }
  //         }
          
  //       }
  //     }
  
      
  //   }
  // }