.servicePageDetail {
  .hedaerSection {
    margin-top: 125px;
    position: relative;
    z-index: -1;

    .img {
      width: 100%;
      height: 500px;
      &::after {
        content: "";
        background-color: rgba(13, 12, 28, 0.237);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

      img {
        width: 100%;
        height: 500px;
        object-fit: cover;
      }
    }

    h1 {
      font-size: 45px;
      line-height: 1.2;
      font-weight: 500;
      color: white;
      position: absolute;
      top: 28vh;
      left: 12%;
      z-index: 1;
      font-weight: bold;
    }
  }
  .mainContent {
    padding: 60px;
    display: flex;
    justify-content: center;
    gap: 70px;
    width: 1450px;
    margin: auto;
    .detailContent {
      width: 800px;
      h1 {
        padding-bottom: 30px;
      }
      p {
        font-size: 18px;
        letter-spacing: 1.2px;
      }
      .moreBtn {
        font-weight: bold;
        padding-top: 20px;
        font-size: 20px;
        transition: all 0.2s ease-in-out;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
    .rightContent{
      padding: 30px;
      width: 550px;
      border: 1px solid rgb(220, 220, 220);
      border-radius: 5px;

      .boxes{
        .intoBox{
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 30px;
          padding: 10px 0;
          border: 1px solid rgb(220, 220, 220);
          padding: 10px;
          border-radius: 5px;
          margin: 15px 0;
          cursor: pointer;
          transition: all .3s ease-in-out;

          &:hover{
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .servicePageDetail {
    .mainContent{
      width: 100% !important;
      flex-direction: column !important;
      gap: 40px !important;
      .detailContent {
        width: 100% !important;
      }
      .rightContent{
        width: 100% !important;
      }
    }
    
  }
}

@media (max-width: 600px) {
  .servicePageDetail {
    .hedaerSection {
      margin-top: 90px;
      img {
        object-fit: none !important;
        height: 80vh !important;
      }
      h1 {
        font-size: 45px;
        left: 5%;
      }
    }
    .mainContent{
      padding: 55px 15px !important;
      .rightContent{
        padding: 15px;
      }
    }
  }
}
